[Unit]
Description=Sticker Generator Flask App
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/sticker-generator
Environment="FLASK_APP=run.py"
Environment="FLASK_ENV=production"
ExecStart=/srv/sticker-generator/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/run/sticker-generator/sticker-generator.sock \
    --umask 007 \
    run:app
RuntimeDirectory=sticker-generator
Restart=on-failure

[Install]
WantedBy=multi-user.target
